:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", serif;
}

.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.btn.dark {
  background: var(--dark-blue-color);
}

.btn.light {
  background: var(--orange-color);
}

.btn.enrol-icon::before {
  content: url("./assests/PencilAlt.svg");

  padding-right: 10px;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
  padding: 0 30px;

}

header {
  /* background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%); */

}

.header-herosection {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  z-index: 100;
  height: 59px;
  top: 0;

}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 60px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.hero-section {

  padding-top: 186px;
  /* background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%); */
}

.hero-section .wrapper .row {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.left {
  flex: 0 0 40%;
}

.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 0;
  width: 457px;
  padding-top: 33px;
}

.hero-section .left p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 200%;
  margin-top: 18px;
  margin-bottom: 30px;
  max-width: 457px;
}

.hero-section .right {
  align-self: flex-end;
  position: relative;
  /* width: 100%;
  text-align: end; */
}



.hero-section .right .hero-image {
  transform: translateX(37px);
  /* max-width: 100%; */
  height: auto;
  vertical-align: middle;
}


.achievement-card {
  position: absolute;
}

.achievement-card .content {
  border-radius: 24px;
  background: #fff;
  padding: 8px 32px;
  z-index: 10;
  position: relative;
}

.achievement-card.students-enrolled {
  left: -35%;
  top: 137px;
  text-align: center;
}

.achievement-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;

  color: var(--dark-blue-color);
}

.achievement-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-blue-color);
}

.achievement-card .bg {
  width: 100%;
  height: 100%;
  top: 8px;
  left: 8px;
  border-radius: 24px;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  position: absolute;
  z-index: 1;
}

.achievement-card .content div {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.achievement-card.overall-rating {
  left: -45%;
  top: 376px;
  text-align: center;
}

.testimonials-section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.testimonial-card {
  max-width: 442px;
  width: 100%;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.2);
}

.testimonial-card .content>p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;

  font-weight: 900;
  line-height: 150%;
  border-radius: 24px;
  padding: 24px 32px;
  background: var(--light-blue-color);
}

.testimonial-card .content .info {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  justify-content: space-between;
}

.testimonial-card .content .info .name h4 {
  color: #023047;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 120%;
  white-space: nowrap;
}

.testimonial-card .content .info .name>p {
  color: #023047;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;

}

.testimonial-card .content .info .image {
  height: 120px;

}

.testimonial-card .content .info .image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -24px;

}

.testimonials-section {
  padding: 100px 0;
}

.testimonials-section .right h2 {
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;

}

.testimonials-section .right {
  /* max-width: 559px; */
  flex: 1;
}

.testimonials-section .right p {
  color: var(--dark-blue-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;

}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  position: absolute;
  top: 35px;

}

.testimonials-section .wrapper .row .left {
  position: relative;
  width: 100%;
  flex: 0 0 40%;
}

.jacob-jones {
  transform: translateX(32px);
}

.jacob-jones .content>p {
  background-color: var(--orange-color);
}

.rectangle {
  width: 28px;
  height: 546px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #023047;
  margin-left: 87px;
}

.courses {
  padding: 70px 0;
  background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
  text-align: center;
}

.courses h1 {
  color: #FFF;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 60px;

  font-weight: 900;
  line-height: 120%;

}

.course-cards {
  margin-top: 56px;

  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  padding: 0px 32px;
  border-radius: 24px;
  background: #FFF;
  text-align: center;
  max-width: 462px;
  flex: 1;

}


.course-card .course-image {
  border-radius: 24px;
  height: 260px;
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.course-card .title-duration {
  display: flex;
  justify-content: space-between;

  padding: 30px 0;
}

.course-card .title-duration .title {
  text-align: left;
  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 150%;
  /* 45px */
}

.course-card .title-duration .duration p {

  color: var(--dark-blue-color);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  /* 24px */
}

.course-card .title-duration .duration {
  display: flex;
  white-space: nowrap;
  gap: 8px;
  align-self: center;
}

.course-card .title-duration .duration img {
  width: 20px;
  height: 20px;
}

.courses-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.courses-btn a {
  position: relative;
  right: 0px;
}

.app-section {
  padding: 100px 0;
}

.app-wrapper {
  max-width: 1070;
  text-align: center;
}

.app-wrapper h1 {
  color: var(--dark-blue-color);

  font-family: "Raleway", sans-serif;
  font-size: 60px;

  font-weight: 900;
  line-height: 120%;
  /* 72px */
}

.app-wrapper p {
  color: var(--dark-blue-color);
  padding-top: 13px;
  padding-bottom: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

.app-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.app-btn a {
  background: #000;
  text-decoration: none;

  padding: 20px 31px;

  width: 248px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  color: #FFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 200%;

}


footer {
  padding: 70px 0;
  background: #070917;
}

footer .row {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.quick-links h4 {
  color: var(--orange-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
}

.quick-links .links {
  padding-left: 24px;
  padding-top: 5px;
  white-space: nowrap;
}

.quick-links .links a {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  line-height: 200%;
  padding-top: 9px;
}

.links a img {
  padding: 9px 0;
  padding-right: 28px;
}

form input {
  width: 100%;
  height: 39px;
  border-radius: 8px;
  background: #FFF;
  padding-left: 27px;
  outline: none;
  border: none;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 200%;

}

form {
  padding: 0 24px;
  position: relative;
}

form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 135px;
  height: 30px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: var(--dark-blue-color);
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;

}

.contact-row {
  flex: 0 0 50%;
}

footer .wrapper p {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 32px;
  font-weight: 400;
  line-height: 200%;

}

form button:hover {
  cursor: pointer;
}

@media screen and (max-width: 834px) {

  .wrapper {
    padding: 0 60px;
  }

  .testimonials-section .row {
    flex-direction: column;
  }

  .testimonials-section .right {
    order: 1;
  }

  .testimonials-section .left {
    order: 2;
  }

  .testimonials-section .left .jacob-jones {
    transform: none;
  }

  .testimonials-section .left .testimonial-card {
    max-width: 634px;
  }

  .testimonials-section .right h2,
  .courses h1,
  .app-wrapper h1 {
    font-size: 40px;
  }

  .rectangle {
    height: 500px;
  }

  .testimonial-cards {
    gap: 40px;
  }

  nav ul {
    gap: 42px;
  }

  footer .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  footer .contact-row {
    flex: 0 0 100%;
  }
}

/* @media screen and (max-width: 1024px) {

  .achievement-card.overall-rating{
    top: 979px;
    left: 17%;
  }

  .achievement-card.students-enrolled{
    top: 763px;
    left: 20%;
  }
  .hero-section .left p{
    max-width: 100%;
  }
  .hero-section .row{
    flex-wrap: wrap;
  }
  .left{
    flex: 0 0 100%;
  }
  .hero-section .right img{
    margin-top: -40px;
  }
  .hero-section .right {
    flex: 0 0 100%;
    text-align: end;
    
  }
} */

@media screen and (max-width:480px) {

  .achievement-card h3 {
    font-size: 30px;
  }

  .hero-section .left h1 {
    font-size: 36px;
  }

  .testimonials-section .right h2,
  .courses h1,
  .app-wrapper h1 {
    font-size: 30px;
  }

  .course-card .title-duration .title {
    font-size: 24px;
  }

  .testimonial-card .content .info .name h4 {
    font-size: 18px;
  }

  .testimonial-card .content .info .image img {
    width: 100px;
    height: 100px;
  }

  .testimonial-card .content .info .image {
    height: 100px;
  }

  .rectangle {
    height: 484px;
  }

  .testimonial-cards {
    gap: 36px;
  }

  .app-btn a {
    padding: 12px 31px;
  }

  footer .row {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  footer form {
    position: static;
  }

  footer form button {
    position: static;
    transform: none;
    margin-top: 15px;
  }
}



/* @media screen and (max-width:1080px) {
  .hero-section{
    flex-direction: column;
  }
  .achievement-card.students-enrolled{
    top: 763px;
    left: 30%;
  }
  .achievement-card.overall-rating{
    top: 979px;
    left: 27%;
  }
  .hero-image{
    margin-top: -40px;
  }
} */